*{
    /* margin: 0;
    padding: 0;
    box-sizing: border-box; */
    scroll-behavior: smooth;
}


:root{
    --primary-bg: red;
    --bg-color: #b4eaba;

    --overlay-color: #b4eaba;
    --downlay-color: #b4eabab7;

    --primary-btn-color: #110f22f8;

    --primary-font: yellow;
    --border-radius: 10px;

    /* --inner-margin: calc(100vw - (64px + 68px)); */
    --inner-margin: 80%;
}

.container{
    width: 100%;
    max-width: calc(100vw - 200px);
    margin-inline: auto;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}
  
.ph{
    height: 200px;
    background: lightgray;
    border-radius: var(--border-radius);
}